<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/phoenix-site-left.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Electric Phoenix FLL Team AboutUs</title>
<!-- InstanceEndEditable -->
<link type="css/text" href="http://www.electricPhoenixfll.com/phoenix_style.css" rel="stylesheet"><!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */
</style>
<![endif]-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>

<div class="container">
  <div class="header"><a href="index.html"><img src="http://www.electricphoenixfll.com/images/banner.png" width="925" height="216" alt="logo" /></a><!-- end .header --></div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="home">Home</a></li>
      <li><a href="calendar">Calendar</a></li>
      <li><a href="blog">Blog</a></li>
      <li><a href="donate">Donate</a></li>
      <li><a href="what_is_fll">What is FLL?</a></li>
      <li><a href="core_values">Core Values</a></li>
      <li><a href="follow_the_phoenix">Follow the Phoenix</a></li>
      <li><a href="about_us">About Us</a></li>
    </ul>
    <p>&nbsp;</p>
    <p><a href="http://www.usfirst.org"><img src="http://www.electricphoenixfll.com/images/flllogo.png" width="145" height="153" alt="fllLogo" /></a></p>
    <p> <a href="http://www.lego.com/en-us/mindstorms/?domainredir=mindstorms.lego.com"><img src="http://www.electricphoenixfll.com/images/legoGuy.jpg" width="145" height="213" /></a></p>
    <!-- end .sidebar1 --></div>
  <!-- InstanceBeginEditable name="center_content" -->
  <div class="content-left">
    <h1>Who are the Electric Phoenix?</h1>
    <div class="team_member">
        <img src="http://www.electricphoenixfll.com/images/andrew.png" alt="Andrew" name="andrew_image" width="125" height="125" id="andrew_image" class="team_photos" />
      <h3>Andrew:</h3>
      <p>Andrew is quite smart for his age, with a heart as big as he is. His determination and enthusiasm are great benefits in keeping the Phoenixes on track. He loves building Lego scenes and creating stories with stop-motion Lego animation! He likes hiking, swimming, gymnastics, and playing his favorite video game - The Lego Movie Video Game.</p>
    </div>
    <div class="team_member">
      <img src="" alt="Collin" name="colin_image" width="100" height="100" id="colin_image" class="team_photos" />
      <h3>Collin:</h3>
      <p>Collin is a great kid and a gentle soul, he has been studying Karate for the past 5 years. He loves to run, and is usually the fastest in his class. He has more pets than he can count and loves to snowboard.</p>
    </div>
    <div class="team_member">
    <img src="" alt="Dario" name="dario_image" width="100" height="100" id="dario_image" class="team_photos" />
<h3>Dario:</h3>
    <p>Kids say something about themselves here.</p>
    </div>
    <div class="team_member">
    <img src="http://www.electricphoenixfll.com/images/kele.png" alt="Kele" name="kele_image" width="100" height="100" id="dario_image" class="team_photos" />
<h3>Kele:</h3>
    <p>Kele is a great kid, with enough energy to power a small city. He is the fastest LEGO builder north of the Mason-Dixon line. He loves to ride his bike, ski and rollerblade when he isn't rocking out to his favorite tunes! It was his dogged determination that got the Phoenixes off the ground</p>
    </div>
    <div class="team_member">
    <img src="" alt="Luke" name="luke_image" width="100" height="100" id="luke_image" class="team_photos" />
<h3>Luke:</h3>
    <p>Kids say something about themselves here.</p>
    </div>
    <div class="team_member">
    <img src="" alt="Peter" name="peter_image" width="100" height="100" id="peter_image" class="team_photos" />
<h3>Peter:</h3>
    <p>Kids say something about themselves here.</p>
    </div>
    <!-- end .content -->
  </div>
  <!-- InstanceEndEditable -->
  <div class="sidebar2">
    <h4>Donate!</h4>
    <p>Please contact us  to send us a contribution for our Robot Drive</p>
    <p>&nbsp;</p>
    <div style="text-align:center;"><a href="http://www.electricphoenixfll.com/donate.html" alt="Fundraising Thermometer"><img border="0" src="http://thermometer.fund-raising-ideas-center.com/thermometer.php?currency=dollar&goal=1350&current=808&color=red&size=medium"></a><p style="font-size:.8em; color:#999"></a></p></div>
    <!-- end .sidebar2 --></div>
  <div class="footer"><p><span class="clear">Electric Phoenix – First Lego League: Wakefield, MA - Copyright &copy; 2003-2014 <a href="http://www.electricphoenixfll.com">electricphoenixfll.com</a>. All rights Reserved</span></p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<!-- InstanceEnd --></html>
