{% extends "base_template.html" %}
{% block title %}Core Values{% endblock %}
{% block content %}
    <h1>Core Values</h1>
    <img src="http://www.electricphoenixfll.com/images/fll_full_triangle.png" width="240" height="208" /><br />
   <p>The FLL Core Values are the cornerstones of the FLL program. They are among the fundamental elements that distinguish FLL from other programs of its kind. By embracing the Core Values, participants learn that friendly competition and mutual gain are not separate goals, and that helping one another is the foundation of teamwork.</p>
    <p>&nbsp;</p>
    <ul id="corelist">
      <li>We are a team.<br />
        <li id="corelist">We do the work to find solutions with guidance from our coaches and mentors.</li>
          <li>We know our coaches and mentors don't have all the answers; we learn together.</li>
          <li>We honor the spirit of friendly competition.</li>
          <li>What we discover is more important than what we win.</li>
          <li>We share our experiences with others.</li>
          <li>We display <a href="http://www.usfirst.org/aboutus/gracious-professionalism">Gracious Professionalism®</a> and Coopertition® in everything we do.</li>
          <li>We have FUN!</li>
      </ul>
    <h1>&nbsp;</h1>
{% endblock %}