{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Welcome to<br />
      Electric Phoenix <br />
      First Lego League Team</h1>
    <p></p>
    <h2>Many thanks to John and Honey Dew Donuts Wakefield, MA</h2>
    <p></p>
    The team raised $279.81 at our April 26th fundraiser!. <span class="tagline">Thank you again John!</span>, a wonderful man and business owner, who truly understands the partnership role he plays in his (and our) community.
    <p></p>
    <h2>Hello team members and families!</h2>
    <p></p>
    Welcome to the Electric Phoenix First Lego League site. <span class="tagline">The HOTest First Lego League team on Earth!</span> Stop by here for news and information about the team, make announcments or chat about a challenge or project.
  <p></p>
  <h2>Robot Drive</h2>
  <p>Please contact us at <a href="mailto:donate@electricphoenixfll.com">donate@electricphoenixfll.com </a>to send us a contribution for our <span class="Bolded">Robot Drive</span>. We are trying to raise $1250 for equipment for our team thorough bake sales, yard sales and private donations. All donations are tax deductable and we will send you a tax receipt for all your donations.</p>
  <p>Please be patient with us... We are still building our site.</p>
{% endblock %}