{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Privacy Policy</h1><br />
    <p>We will NEVER share any information we collect (Name, contact info, contributions) with anyone at any time! If you wish to be removed from our mailing list please send an email to donate at electricphoenixfll.com and we will take you off our mailing list.</p>
    <p> If you have any issues with money that you have donated to us, and wish to request a return, please send an email to donate at electricphoenixfll.com.</p>
{% endblock %}