{% extends "base_template.html" %}
{% block title %}What is FLL?{% endblock %}
{% block content %}
    <h1>First Lego League</h1>
    <h2>Vision</h2>
    <p><br />
      &quot;To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders.&quot;
    </p>
    <p>Dean Kamen, Founder</p>
    <p>&nbsp;</p>
    <h2>Mission    </h2>
    <p>Our mission is to inspire young people to be science and technology leaders, by engaging them in exciting mentor-based programs that build science, engineering and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership.</p>
    <p> </p>
    <p> </p>
    <p>Dean Kamen is an inventor, entrepreneur, and tireless advocate  for science and technology. His passion and determination to help young people discover the excitement and rewards of science and technology are the cornerstones of FIRST (For Inspiration and Recognition of Science and Technology).</p>
    <p>FIRST was founded in 1989 to inspire young people's interest and participation in science and technology. Based in Manchester, NH, the 501 (c) (3) not-for-profit public charity designs accessible, innovative programs that motivate young people to pursue education and career opportunities in science, technology, engineering, and math, while building self-confidence, knowledge, and life skills.</p>
    <h1>&nbsp;</h1>
{% endblock %}