{% extends "base_template.html" %}
{% load mathfilters %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <div id=calendar>
		<span id="calprev" style="float:left">
			{% if month == 1 %}
				<a href="{{SITE_DOMAIN}}/calendar/{{ year|sub:1 }}/{{ 12 }}">< prev</a>
			{% else %}
				<a href="{{SITE_DOMAIN}}/calendar/{{ year }}/{{ month|sub:1 }}">< prev</a>
			{% endif %}
		</span>
		<span id="calnext" style="float:right">
			{% if month == 12 %}
				<a href="{{SITE_DOMAIN}}/calendar/{{ year|add:1 }}/{{ 1 }}">next ></a><br>
			{% else %}
				<a href="{{SITE_DOMAIN}}/calendar/{{ year }}/{{ month|add:1|mod:13 }}">next ></a><br>
			{% endif %}
		</span><br>
		{{ calendar }}
    </div>
    <div id=topEvents>
    	<hr>
    	<h1> Upcoming Events: </h1>
		{% for event in topEvents %}
			<h2>{{ event.eventName }}</h2>
			<h6>{{ event.eventDate }} {{ event.eventTime }}</h6>
			{% if not event.eventLocation == "" %}
				<br>Location: {{ event.eventLocation }}<br>
			{% endif %} 
			<p>{{ event.eventDescription }}</p>
			{% if not event.eventURL == "" %}
				Details: {{ event.eventURL }}
			{% endif %} 
			{% if not forloop.last %}
				<hr>
			{% endif %}
		{% endfor %}
    </div>
{% endblock %}